# Don't surround the equals sign '=' with spaces
# Don't surround a value with quotes unless they are a part of a value

# COMMON SETTINGS
LOG_LEVEL=INFO

# SERVICES URL VARIABLES
CONDUCTOR_URL_BASE=http://localhost:49081

# CONDUCTOR CLIENT SETTINGS
POLLING_INTERVAL=0.1
MAX_THREAD_COUNT=10
