# Don't surround the equals sign '=' with spaces
# Don't surround a value with quotes unless they are a part of a value

# COMMON SETTINGS
LOG_LEVEL=INFO

# SERVICES URL VARIABLES
CONDUCTOR_URL_BASE=http://localhost:49081

# CONDUCTOR CLIENT SETTINGS
POLLING_INTERVAL=0.1
MAX_THREAD_COUNT=10

# DATABASE SETTINGS
OPENFB_DB_USER=
OPENFB_DB_PASSWORD=
OPENFB_DB_NAME=
OPENFB_DB_HOST=
OPENFB_DB_PORT=

# Cisco NSO SETTINGS
OPENFB_NSO_USER=
OPENFB_NSO_PASSWORD=
OPENFB_NSO_HOST=
OPENFB_NSO_PORT=

# LOCATIONS OF CSV FILES FOR ANALYSIS INSIDE FILESYSTEM
HUAWEI_SERVICES_INTERFACES_CSV_FILE=
HUAWEI_SERVICES_INTERFACES_VPLS_CSV_FILE=
SIAE_UNI_CSV_FILE=
SIAE_ALL_SERVICES_CSV_FILE=
HUAWEI_LAG_CSV_FILE=
NETH_INTERFACES_CSV_FILE=
HUAWEI_MEID_CSV_FILE=

CHANGELOG_API_URL=
CHANGELOG_FILE_WORKER=

DOCS_API_URL=
DOCS_FOLDER=
